<section class="fondo">

    <div class="container cool-nav imgDetails">

        <h1>
            {{characters.name}}
        </h1>

        <img src="{{characters.image}}" alt="Image">

        <p>
            {{characters.description}}
        </p>
    </div>
</section>